<h1 id="hey">Hey</h1>
<br />
<% for i in 1..10 %>
<%= i %>
<%= ". " + @string %>
<br />
<% end %>

<p>Input all items on item list separated by commas:</p>

<%= form_tag("/page") do %>
	<%= text_field_tag(:items) %>
	<%= submit_tag("Submit") %>
<% end %>